---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-gray-900 text-white p-4 max-w-4xl mx-auto flex flex-col min-h-screen min-w-[20rem]"
  >
    <main class="grow">
      <div class="flex items-start flex-wrap gap-8 mt-12 sm:gap-16 sm:mt-32">
        <img
          src="/userpic.jpg"
          alt=""
          class="shrink-0 rounded-full border border-gray-600 w-36 sm:w-52"
        />
        <div class="mt-4 grow w-min min-w-[16rem]">
          <p>
            I'm Nazar, a Javascript software engineer that focuses on front end tools such
            as React and Typescript.
          </p>
          <p class="mt-4">
            My area of expertise is React ecosystem, but I also have experience in backend
            software development.
          </p>
          <div class="mt-4">
            <a href="https://github.com/ny1am">github</a>
            <a href="https://www.linkedin.com/in/nazar-yavnyy-97bb26b1/">linkedin</a>
            <a href="mailto:nazar.yavnyy@pm.me">mail</a>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
