---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <img src="/userpic.jpg" width="200" alt="" />
      <p>
        I'm Nazar, a Javascript software engineer that focuses on front end tools such as
        React and Typescript. I have a high bar for the quality of code and quality of
        user experience. My area of expertise is React ecosystem, but I also have
        experience in backend software development.
      </p>
      <a href="https://github.com/ny1am">github</a>
      <a href="https://www.linkedin.com/in/nazar-yavnyy-97bb26b1/">linkedin</a>
      <a href="mailto:nazar.yavnyy@pm.me">mail</a>
    </main>
    <Footer />
  </body>
</html>
