---
const today = new Date();
---

<footer
  class="mt-16 flex justify-end gap-x-10 border-t border-t-neutral-700 pt-6 text-sm text-gray-400"
>
  <nav>
    <a href="resume.pdf" class="text-sky-500">Resume</a>
  </nav>
  <span>&copy; {today.getFullYear()} Nazar Yavnyy</span>
</footer>
