---
import resume from '@pw/data/public/resume.json';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const items = resume.basics.profiles.map(({ network, url }) => ({ url, text: network }));
---

<div class:list={['[&>a]:mr-5 [&>a]:text-sky-600', className]}>
  {items.map(({ text, url }) => <a href={url}>{text}</a>)}
</div>
